<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="../css/util.min.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"  rel="stylesheet">
    



</head>
<body class="container">

	<ul class="nav nav-tabs" style="margin-bottom: 10px; ">
		<li>
			<img src="../logo.png " style="width: 100px; height: 100px;" >
		</li>
		<li style="padding: 10px;">
			
			<div class="flex-wr-e-c" style="margin-bottom: 10px;">
				<div class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<span style="font-size: large;">New York, NY</span>
						<span style="font-size: large;" >HI 58° LO 56°</span>
					</span>

					<a href="#" style="font-size: large;" class="left-topbar-item">About</a>
					<a href="#" style="font-size: large;" class="left-topbar-item">Contact</a>
					<a href="#" style="font-size: large;" class="left-topbar-item">Sing up</a>
					<a href="#" style="font-size: large;" class="left-topbar-item">Log in </a>
					<a href="#" style="font-size: large;" class="left-topbar-item"></a>
				</div>

				<div class="right-topbar p-l-18"  style="float: right;">
					<a href="#"> <span style="font-size: large;" class="fab fa-facebook-f"></span></a>
					<a href="#"> <span style="font-size: large;" class="fab fa-twitter"></span></a>
					<a href="#"> <span style="font-size: large;" class="fab fa-pinterest-p"></span></a>
					<a href="#"> <span style="font-size: large;" class="fab fa-vimeo-v"></span></a>
					<a href="#"> <span style="font-size: large;" class="fab fa-youtube"></span></a>
				</div>
			</div>	

		  <ul class="nav nav-tabs">
			<li class="nav-item">
		  	<a class="nav-link active" aria-current="page" href="/open_home">Trang chủ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#"  aria-current="page">Thể loại</a>
		  	</li>
		  	<li class="nav-item">
				<a class="nav-link active" href="/open_dang_ky"  aria-current="page">Đăng ký</a>
		  	</li>
			<li class="nav-item">
		  		<a class="nav-link active" href="/open_dang_nhap"  aria-current="page">Đăng nhập</a>
			</li>
		  </ul>
		</li>
	</ul>
<!-- ================================================================================================================================= -->
	<div  style="margin-top: 10px; margin: auto; justify-items: center ;  ">

		<% for(let i=0; i < data_truyen.length; i++) { %>
			<div class="card" style="width: 203px; display: inline-block; margin: 3px;">
				<div>
					<img src="../nocover.jpg" class="card-img-top" alt="..." style=" opacity: 0.91">
					
						<a href="/open_chi_tiet_truyen<%= data_truyen[i].id %>" class="card-title" style="
						 overflow: hidden;
    					text-overflow: ellipsis;
    					line-height: 25px;
    					-webkit-line-clamp: 2;
    					display: -webkit-box;
    					-webkit-box-orient: vertical;
						text-decoration: none;
						font-size:large; margin: 3px; color: black;
						  "><%= data_truyen[i].ten_truyen %></a>
					
			    </div>
				<div class="card-body">
			  		<p class="card-title" style="
						 overflow: hidden;
    					text-overflow: ellipsis;
    					line-height: 25px;
    					-webkit-line-clamp: 1;
    					display: -webkit-box;
    					-webkit-box-orient: vertical;
						text-decoration: none;
						font-size:large; margin: 3px; color: black;"><%= data_truyen[i].tac_gia %> </p>
				</div>
				<% for(let j=0; j < data_truyen.length; j++) { %>
					<p><%= data_truyen[j].ten_chuong %></p>
					<% } %>
		  	</div>
		<% } %>
	</div>
<!-- ===================================================================================================================== -->
	<footer class="bg-body-tertiary text-center text-lg-start" style="margin-top: 10px;">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
		  © 2020 Copyright:
		  <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	  </footer>
		
        
    
</body>
</html>